table.html-selectDate{border-collapse:collapse;border-spacing:0;width:230px;}
table.html-selectDate td{padding:0 !important;}
table.html-selectDate select.day{width:3em}
table.html-selectDate select.month{width:8em}
table.html-selectDate select.year{width:5em}

table.html-selectTimeHM{border-collapse:collapse;border-spacing:0;}
table.html-selectTimeHM td{padding:0}
table.html-selectTimeHM select.hour{width:3em}
table.html-selectTimeHM select.minute{width:3em}

form table.html-selectDate th{border-top:0 !important;}
form table.html-selectDate td{border:0 !important;}